#todo-error{
  color: red;
  font-size: 2em;
}

hr {
  background-color: #59636d;
  padding: 0px;
}

#margin {
  margin-top: 30vh;
}

.main {
  position: absolute 
}

.tasks:hover {
cursor: pointer;
color: grey;
}

.text-center.text-white {
  transition:all 0.1s linear;
  color: white;
}

h3.text-center.text-white#taskText:hover{
  color:grey !important;
}
#taskText:hover {
  color:grey !important;
}

.complete {
  text-decoration: line-through;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
  width: auto;
  background-position: center;
  color:white !important;
}
#taskCard {
  transition:all 0.2s linear;
}

#toggleTasks {
  color: white;
}

#time {
  font-size: 15vh
}

#timeBox {
  min-width: 500px;
}

.mainText {
  font-size: 10vh
}

#taskCard:hover {
  transform:scale(1.025)
}

.quote {
  text-shadow: 2px 2px 5px  black;
  height: 4vh;
}

.weatherLogo {
  display: block;
  width: 50%;
  height: auto;
}

#taskWindow {
  height:60vh;
  max-width: 50vw;
  min-width: 650px;
}
#hide {
  border-bottom: 2px solid #525c67;
}